@tailwind base;

@tailwind components;
.form-control {
  @apply w-full leading-snug text-gray-800 py-1 px-4 rounded border border-blue-300 bg-gray-300;
}
.form-control:hover {
  @apply bg-white;
}
.form-control:focus {
  @apply outline-none shadow-outline;
}
.btn {
  @apply rounded shadow-lg py-1 px-4 bg-gray-500 block;
}
.btn-primary {
  @apply bg-yellow-600;
}
.btn:hover {
  @apply shadow-none bg-gray-700 text-white;
}

@tailwind utilities;
